<div class="header">
    <div class="navbar">
        <a class="navbar-item" href="{% url 'portfolio:index' %}">Home</a>
        <a class="navbar-item" href="{% url 'portfolio:skills' %}">Skills</a>
        <a class="navbar-item" href="{% url 'portfolio:education' %}">Education</a>
        <a class="navbar-item" href="{% url 'portfolio:projects' %}">Projects</a>
        <a class="navbar-item" href="{% url 'portfolio:experience' %}">Experience</a>
        <a class="navbar-item" href="{% url 'portfolio:languages' %}">Languages</a>
        <a href="#">Private</a>
    </div>



        <div class="" id="menu-icon-js">
            <div class="bx bx-menu navbar-item" id="menu-icon">Menu</div>
        </div>
</div>