<div class="header">
  <div class="navbar">
    <a class="navbar-item" href="{% url 'portfolio:index' %}">Home</a>
    <a class="navbar-item" href="{% url 'portfolio:skills' %}">Skills</a>
    <a class="navbar-item" href="{% url 'portfolio:education' %}">Education</a>
    <a class="navbar-item" href="{% url 'portfolio:projects' %}">Projects</a>
    <a class="navbar-item" href="{% url 'portfolio:experience' %}">Experience</a>
    <a class="navbar-item" href="{% url 'portfolio:languages' %}">Languages</a>
    <a href="#">Private</a>
  </div>


  <div id="js-menu">
    <span class="burger-menu">&#9776;</span>
    <span class="menu-close-btn" style="display: none;">x</span>
    <span class="menu-text">Menu</span>
  </div>


</div>