{% extends "base.html" %}
{% load static %}

{% block title %}Education{% endblock %}

{% block content %}


<div class="page">
  <main class="main-section">
    <div class="content-section">
      <div class="header-text">
        <div class="header-container">Education</div>
      </div>
      <div class="container-around">
        {% for education in educations %}
        <div class="main-container big">
          <div>
            <div class="h2-name bottom-space">{{ education.field_of_study }}</div>
            <div class="h3-name rainbow-text">{{ education.institution }}</div>
          </div>
          <div class="bottom-space">
            <span class="h4-name">{{ education.start_date|date:"m/Y" }} - </span>
            <span class="h4-name">{{ education.end_date|date:"m/Y" }}, </span>
            <span class="h4-name left-space">{{ education.degree }}, </span>
            <span class="h4-name left-space">{{ education.location }}</span>
          </div>
          <div class="education-description h3-name">{{ education.description|safe }}</div>
          <div class="close-btn" style="display:none;">X</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</div>


{% endblock %}
