{% extends "base.html" %}
{% load static %}

{% block title %}Experience{% endblock %}

{% block content %}
    <div class="page">
        <main class="main-section">
            <div class="content-section">
                <div class="header-text">
                    <div class="header-container">Experience</div>

                </div>
                <div class="container-around">
                    {% for experience in experiences %}
                    <div class="main-container big">
                        <div>
                            <div class="h2-name bottom-space">{{ experience.profession }}</div>
                        <div class="h3-name">{{ experience.company }}</div>
                        </div>
                        <div class="bottom-space">

                        <span class="h4-name">{{ experience.start_date|date:"m/Y" }} - </span>
                        <span class="h4-name">{{ experience.end_date|date:"m/Y" }}, </span>
                        <span class="h4-name left-space">{{ experience.location }}</span>
                        </div>


                        <div class="education-description h3-name">{{ experience.description|safe }}</div>
          <div class="close-btn" style="display:none;">X</div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>

{% endblock %}


