{% extends "base.html" %}
{% load static %}

{% block title %}Experience{% endblock %}

{% block content %}
    <div class="page">
        <main class="main-section">
            <div class="content-section">
                <div class="header-text">
                    <div class="main-container">Experience</div>

                </div>
                <div class="container-around">
                    {% for experience in experiences %}
                    <div class="main-container big">
                        <div>
                            <span class="h2-name">{{ experience.profession }}, </span>
                        <span class="h3-name left-space">{{ experience.company }}</span>
                        </div>
                        <div class="bottom-space">

                        <span class="h4-name">{{ experience.start_date|date:"m/Y" }} - </span>
                        <span class="h4-name">{{ experience.end_date|date:"m/Y" }}, </span>
                        <span class="h4-name left-space">{{ experience.location }}</span>
                        </div>


                        <div class="h3-name">{{ experience.description|safe }}</div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>

{% endblock %}


