{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="page">
    <section class="about" id="about">
        <div class="about-content">
            <div class="column right">
                <img src="{% static 'Assets/main-image.jpg' %}" alt="Main Image">
            </div>
            <div class="column left">
                <div class="text">My name is Alona</div>
                <p>
                    I am Python Developer and Data Analyst
                </p>
                <div class="buttons">
                    <a href="#">Download CV</a>
                    <a href="#" class="cm-button">Contact Me</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
