{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}


<div class="page">
  <main class="main-section">
    <div class="content-section">
      <div class="header-text">
        <div class="header-container">Home</div>
      </div>

      <div class="container-around-main-page">

        <div class="main-container-main-page">

          <img id="main-page-image" class="img" src="{% static 'Assets/alona.jpeg' %}" alt="Main Image">
        </div>

        <div class="main-container-main-page">

          <div class="container-around">

            {% for info in user_info %}
            <div class="main-container no-pointer info-blocks main-page-blocks">
              <div class="h3-name">{{ info }}</div>
              <div class="close-btn" style="display:none;">X</div>
            </div>
            {% endfor %}
          </div>

        </div>




      </div>


    </div>
  </main>
</div>
{% endblock %}
