{% extends "base.html" %}
{% load static %}

{% block title %}Languages{% endblock %}

{% block content %}


<div class="page">
  <main class="main-section">
    <div class="content-section">
      <div class="header-text">
        <div class="header-container">Languages</div>
      </div>
      <div class="container-around">
        {% for language in languages %}
        <div class="main-container big">
          <div>
            <div class="h2-name bottom-space">{{ language.name }}</div>
            <div class="h3-name">{{ language.level }}</div>
          </div>

          <div class="education-description h3-name">{{ language.description|safe }}</div>


          <div class="close-btn" style="display:none;">X</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</div>


{% endblock %}
