{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="page">
        <main class="skills-main">
            <div class="skills-section">
                <div class="header">
                    <div class="text">My Skills</div>
                    <div class="border-line"></div>
                </div>
                <div class="skills">
                    {% for skill in skills %}
                    <div class="skills-group-row">
                        <div class="skills-group-header">{{ skill.name }}</div>
                        {% if skill.description %}
                        <div>">{{ skill.description }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
