{% extends "base.html" %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="page">
  <main class="main-section">
    <div class="content-section">
      <div class="header-text">
        <div class="header-container">My Skills</div>
      </div>
      <div class="container-around">
          <div id="container1"></div>
      </div>
    </div>
  </main>
</div>

<script>
    const skills = [
        {% for skill in skills %}
        {
            name: "{{ skill.name }}",
            value: {{ skill.order }},
            description: "{{ skill.description }}"
        },
        {% endfor %}
    ];
</script>

<script src="{% static 'script/skills.js' %}"></script>

{% endblock %}
