{% extends "base.html" %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
    <div class="page">
        <main class="main-section">
            <div class="content-section">
                <div class="header-text">
                    <div class="main-container">My Skills</div>

                </div>
                <div class="container-around">
                    {% for skill in skills %}
                    <div class="main-container fit-content">
                        <div class="container-text-center h3-name">{{ skill.name }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
